autopep8==1.5.4
backcall==0.2.0
backports.entry-points-selectable==1.1.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
decorator==5.0.7
distlib==0.3.2
docopt==0.6.2
filelock==3.0.12
idna==2.10
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
parso==0.8.2
pickleshare==0.7.5
pipreqs==0.4.10
platformdirs==2.1.0
prompt-toolkit==3.0.18
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.6.0
Pygments==2.8.1
pyTelegramBotAPI==3.7.9
python-dateutil==2.8.1
pywin32==300
pyzmq==22.0.3
requests==2.24.0
rsa==4.7.2
selenium==3.141.0
six==1.15.0
Telethon==1.21.1
toml==0.10.1
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
urllib3==1.25.10
virtualenv==20.6.0
wcwidth==0.2.5
yarg==0.1.9
